<nav class="navbar navbar-light bg-light" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/urls">TinyApp</a>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <% if (user) { %>
        <li><span><%= user.email %></span></li>
        <form action="/logout" method="POST">
          <button class="btn" type="submit">Logout</button>
        </form>
      <% } else { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% } %>

    </ul>

  </div>
</nav>
