<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header %>

    <form action="/login" method="POST">
      <label for="email">Enter your email</label>
      <input id="email" name="email" type="email" placeholder="Enter a username...">
      <label for="password">Enter your password</label>
      <input id="password" name="password" type="password">
      <button type="submit">Login!</button>
    </form>

  </body>

</html>
