<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header %>

  <body>

    <h2>Short URL: <%= shortURL %></h2>
    <form method="POST" action=<%= `/urls/${shortURL}` %>>
      <input id="longURL" type="text" name="longURL" style="width: 300px;" value=<%= `${longURL}` %>>
      <button type="submit">Update</button>
    </form>

  </body>

</html>
