<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header %>

  <body>

    <h1>Your Short URLs</h1>

    <table>
      <% for(let url in urlDatabase) { %>
        <tr>
          <td>
            <a href=<%= `http://localhost:8080/u/${url}` %>>http://localhost:8080/u/<%= url %></a>
          </td>
          <td>(<%= urlDatabase[url] %>)</td>
          <td>
            <form method="POST" action=<%= `/urls/${url}/delete` %>>
              <button type="submit">
                Delete <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>

    <a href="/urls/new">Shorten a URL</a>
  </body>

</html>
