<!DOCTYPE html>
<html>

  <head>
    <title>TinyApp - Show URL</title>
  </head>

  <body>

    <h2>URL Short Form: <%= shortURL %></h2>
    <h2>URL Long Form: <%= longURL %></h2>

  </body>

</html>
